.bc-buff-section {
  img {
    height: 20px;
    width: 20px;
  }
}

div {
  vertical-align: middle;
}

a[data-toggle="collapse"] {
  display: inline-block;
  text-align: center;
  min-width: 20px;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

small {
  display: block;
}

a + small, small.indent {
  padding-left: 1.5rem;
}

ul:not(.sub-section) li {
  a:not(.small-inline) {
    display: block;
  }
}

input[type=checkbox] {
  transform: scale(1.25);
  margin-right: 0.5rem;
  vertical-align: middle;
}

label, small {
  user-select: none;
}

.buff-count {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  border: 1px solid darkgrey;
  background-color: grey;
  color: black;
  text-align: center;
  font-size: 0.8rem;
  line-height: 0.8rem;
  margin-left: -2px;
  margin-right: 4px;
  margin-bottom: 2px;
  cursor: pointer;
}

.has-buff-count {
  min-height: 30px;
}

.warrior-color {
  color: #C79C6E;
}

.druid-color {
  color: #FF7D0A;
}

.hunter-color {
  color: #ABD473;
}

.mage-color {
  color: #69CCF0;
}

.paladin-color {
  color: #F58CBA;
}

.priest-color {
  color: #FFFFFF;
}

.rogue-color {
  color: #FFF569;
}

.shaman-color {
  color: #0070DE;
}

.warlock-color {
  color: #9482C9;
}

.fire-totem-color {
  color: #ff4b19;
}

body {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

#copy-toast {
  border: 1px solid gray;
  z-index: 99999;
  position: absolute;
  top: 20px;
  right: 20px;
}